.today-section {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.today-text {
  margin-left: 10px;
  margin-right: 10px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.025em;
font-variant: small-caps;
color: #DDDDDD;
}
.linia {
  width: 145px;
}